body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/030/658/258/non_2x/downtempo-chillout-minimalist-desktop-wallpaper-free-photo.jpg);
    color: #000000;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: absolute;
    font-family: Arial, sans-serif;
    overflow-y: scroll; /* Enable vertical scrolling */

}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

}

.title {
    font-size: 2em;
}

.form {
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.weather-data {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weather-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    margin :10px;
    min-width: 350px;
    color: #ffffff;

}
.weather-info.name {
    font-size: 1.5em;
    font-weight: bold;
    border: 2px solid #333;
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
}

.weather-info.date {
    position: absolute; /* Positioned to the right */
    top: 10px;
    right: 10px;
    font-size: 0.8em;
}

.weather-info.high,
.weather-info.low {
    font-size: 1.2em;
    margin: 5px 0;
}

.weather-info.summary {
    font-style: italic;
    margin-top: 10px;
}